@font-face {
    font-family: "Century Gothic";
    src: url("fonts/GOTHIC.TTF");
    font-weight: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("fonts/GOTHICB.TTF");
    font-weight: bold;
}

@font-face {
    font-family: "Century Gothic";
    src: url("fonts/GOTHICI.TTF");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Century Gothic";
    src: url("fonts/GOTHICBI.TTF");
    font-weight: bold;
    font-style: italic;
}

:root {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* {
    transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body, body.cold {
    --main-color: #D5F0F5;
    --dark-2-color: #1A47E8;
    --dark-1-color: #1A88E8;
    --medium-color: #1AC9E8;
    --bright-1-color: #1AE8C3;
    --bright-2-color: #1AE87D;
}

body.warm {
    --main-color: #F2F0D7;
    --dark-2-color: #E8A81A;
    --dark-1-color: #E8C11A;
    --medium-color: #E8DA1A;
    --bright-1-color: #C1E81A;
    --bright-2-color: #6BE81A;
}

header {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;

    color: var(--main-color);
}

header::before, header::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

header::before {
    content: "";
    z-index: -2;

    background-image: url("public/franziska_partheymueller_eisschwimmen_tegernsee.jpg");
}

header::after {
    content: "";
    z-index: -1;

    background-image: url("public/franziska_partheymueller_eisbaden_gmund_tegernsee.jpg");
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.warm header::after {
    opacity: 0.9;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.header-container h1 {
    font-weight: 500;
    margin: 0;
    font-size: 3em;
    text-shadow: 0 0 .2em black, 0 0 .5em black;
}

.header-container small {
    font-size: 1.3em;
    text-shadow: 0 0 .15em black, 0 0 .4em black;
}

.switch input[type=checkbox] {
    display: none;
}

.switch .switch-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-size: 1.25em;
    text-shadow: 0 0 .3em black, 0 0 .5em black;
    cursor: pointer;
}

.switch .slider {
    --slider-width: 2.3em;
    --slider-height: 0.5;
    --slider-size: 0.75;
    width: var(--slider-width);
    border: 1px solid var(--main-color);
    background-color: rgba(0, 0, 0, .3);
    font-size: var(--slider-width);
    height: calc(var(--slider-height) * var(--slider-width));
    border-radius: calc(0.5 * var(--slider-height) * var(--slider-width));
    display: flex;
    align-items: center;
}

.switch .slider div {
    height: calc(var(--slider-size) * 1em);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--main-color);

    --margin-left: calc(0.5 * ((var(--slider-height) * var(--slider-width)) - (1em * var(--slider-size))));
    margin-left: var(--margin-left);

    transition: margin-left 0.3s ease-in-out;
}

.switch input[type=checkbox]:checked ~ .switch-label .slider div {
    margin-left: calc(var(--slider-width) - (1em * var(--slider-size)) - var(--margin-left));
}

@media screen and (min-width: 801px) {
    .switch .slider {
        --slider-width: 2.6em;
        --slider-size: .85;
    }
}

header .gradient {
    --gradient-height: 2em;
    position: absolute;
    bottom: 0;
    display: block;
    height: var(--gradient-height);
    width: 100%;
    border: 0;
    margin: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 100));
}

main {
    margin: 0 .8em;
}

body.cold .warm {
    display: none;
}

body.warm .cold {
    display: none;
}