<header class="compact">
    <div class="header-container">
        <h1>
            <a href="index.html">
                <div class="logo">
                    <img class="header-logo" src="public/Logo.svg" draggable="false" alt="Logo">
                </div>
                <span>
                    <span class="nobreak">Aqualign</span>
                    <span class="nobreak">Swim &amp; Ice</span>
                </span>
            </a>
        </h1>
    </div>

    <%= require('./_nav.html') %>
</header>
