@use 'viewports' as *;

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 .8em .5em;

  @include medium {
    font-size: 1.2em;
  }
  @include large {
    font-size: 1.4em;
  }

  p {
    text-align: justify;
    hyphens: auto;
  }
}

.image-aside {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }

  @include medium {
    flex-direction: row;

    &.right {
      flex-direction: row-reverse;
    }

    gap: 1em;
    align-items: center;

    img {
      width: 250px;
    }
  }

  @include large {
    img {
      width: 350px;
    }
  }
}

blockquote {
  font-style: italic;
  footer {
    font-style: normal;
    &::before {
      content: "—";
      margin-right: 1em;
    }
  }
}