@use 'viewports' as *;

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 .8em .5em;

  @include medium {
    font-size: 1.2em;
  }

  @include large {
    font-size: 1.4em;
  }

  p {
    text-align: justify;
    hyphens: auto;
  }
}

.image-aside {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
  }

  @include medium {
    flex-direction: row;

    &.right {
      flex-direction: row-reverse;
    }

    gap: 1em;
    align-items: center;

    img {
      width: 250px;
    }
  }

  @include large {
    img {
      width: 350px;
    }
  }
}

.gallery {
  display: flex;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: x mandatory;
  gap: .5em;

  img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    scroll-snap-align: center;

    width: 100%;
    height: auto;

    @include medium {
      flex-grow: unset;
      flex-shrink: unset;
    }
  }

}

blockquote {
  font-style: italic;
  margin-left: 2em;

  &+cite {
    font-style: normal;
    margin-left: 2em;
    position: relative;
    top: -.5em;

    &::before {
      content: "—";
      margin-right: 1em;
    }
  }
}