@font-face {
  font-family: "Century Gothic";
  src: url("../../fonts/GOTHIC.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../../fonts/GOTHICB.TTF");
  font-weight: bold;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../../fonts/GOTHICI.TTF");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../../fonts/GOTHICBI.TTF");
  font-weight: bold;
  font-style: italic;
}

