:root {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

* {
  transition: color 0.3s ease-in-out,
  background-color 0.3s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body.cold {
  --main-color: #D5F0F5;
  --dark-2-color: #1A47E8;
  --dark-1-color: #1A88E8;
  --medium-color: #1AC9E8;
  --bright-1-color: #1AE8C3;
  --bright-2-color: #1AE87D;
}

body, body.warm {
  --main-color: #F2F0D7;
  --dark-2-color: #E8A81A;
  --dark-1-color: #E8C11A;
  --medium-color: #E8DA1A;
  --bright-1-color: #C1E81A;
  --bright-2-color: #6BE81A;
}

body.cold .warm {
  display: none;
}

body.warm .cold {
  display: none;
}

.nobreak {
  white-space: nowrap;
}
